@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive, sans-serif;
    background: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.paintcanvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paintcanvas {
    cursor: crosshair;
}

.paintBtn-container {
    display: inline-block;
}

.activate-eraser, .activate-pen {
    filter: brightness(130%);
}

#apply-buddy-btn {
    font-family: 'VT323', monospace;
    font-size: 1.5rem!important;
    margin-top: 5px;
    margin-bottom: 20px;
}

canvas {
    background: white;
}

#pen-btn, #color-picker, #eraser-btn, #trash-btn, #apply-buddy-btn, #accelerate-btn {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 10px;
}

.fab {
    font-size: 1.2rem;
}